body{
    box-shadow: 10px 10px 10px gray;
    font-family: "raleway";
    position: relative;
}
#bloc-1{
    background-color: #17abb3;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "raleway";
    color: #ffffff ;
    width: auto;
    height: 190px;;
}
h1{
    color: white;
    font-family: "lato";
}

h2{
    color: #17abb3;
    font-family: "lato";
}
#bloc-1 a{
    color: #ffffff;
}
#bloc-1 img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    float: left;
}
#bloc-2{
    background-color: rgb(239, 232, 232);
    flex-direction: column;
    width: 250px;
    height: auto;
}
h3{
    color: #17abb3;  
    font-family: "lato"; 
}

ul{
    list-style-type: square ;
}

#bloc-3{
     flex-direction: column;
     overflow:scroll;
     width: 600px;
     height: 600px;
     float: right;
     padding-right: 350px;
     
   
}
#bloc-3 p:active{
    background-color: gray;
}
#bloc-4{
    background-color: #17abb3;
    height: 100px;
    width: auto;
}




